<a  routerLink="/welcome">Back</a>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
  <div class="text-center top-title">Sign in with</div>
  <div class="google" (click)="signInWithGoogle()">
    <div class="icon">
      <img src="../../assets/images/google-icon.png">
    </div>
    <div class="text">Google</div>
  </div>
  <div class="or-txt">---------OR----------</div>
<form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label class="t-login-title">Email</label>
  <mat-form-field class="full-width" appearance="outline">
    <input matInput placeholder="Email" formControlName="email">
    <mat-error *ngIf="loginForm.controls['email'].invalid">Required</mat-error>
  </mat-form-field>

  <label class="t-login-title">Password</label>
  <mat-form-field class="full-width" appearance="outline">
    <input matInput placeholder="Password" type="password" formControlName="password">
    <mat-error *ngIf="loginForm.controls['password'].invalid">Required</mat-error>
  </mat-form-field>
  <p class="full-width action-p fp"> <a href="" class="fp" (click)="handlForgotPW($event)">Forgot your Password?</a></p>
  <button class="full-width" mat-flat-button color="primary" [disabled]="!loginForm.valid"  type="submit">LogIn</button>
</form>
<p fxFlexAlign="end" class="action-p">Not a member yet? <a routerLink="/teacher-signup">Create account</a></p>
<div class="footer">
  <div class="title">
    Tip for teachers:
  </div>
  <div class="content">
    Use the same email account for the class.
  </div>
</div>
</div>


