<form  [formGroup]="pwForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width" appearance="outline">
    <input matInput placeholder="Current Password" type="password" formControlName="cpassword">
    <mat-error *ngIf="pwForm.controls['cpassword'].invalid">Required</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="outline">
    <input matInput placeholder="New Password" type="password" formControlName="npassword">
    <mat-error *ngIf="pwForm.controls['npassword'].invalid">Required</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="outline">
    <input matInput placeholder="Confirm New Password" type="password" formControlName="cnpassword">
    <mat-error *ngIf="pwForm.controls['cnpassword'].invalid">Required</mat-error>
  </mat-form-field>

  <button class="full-width" mat-flat-button color="primary" [disabled]="!pwForm.valid"  type="submit">Update</button>
</form>


