.flex{
    display:flex
}
.padding{
  padding: 3px;
}
table {
  width: 80%;
}
table, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.answer{
  color: blueviolet;
  font-weight: bold;
}
.text-center{
  text-align: center;
}
td{
  padding: 3px;
}
