<a routerLink="/welcome">Back</a>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
<img width="200px" height="200px" src="../../assets/images/app_icon_back_tra.png">
<form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width" appearance="outline">
    <input matInput placeholder="Name" formControlName="name">
    <mat-error *ngIf="loginForm.controls['name'].invalid">Required</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="outline">
    <input matInput placeholder="Code From Teacher" formControlName="code">
    <mat-error *ngIf="loginForm.controls['name'].invalid">Required</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="outline">
    <input matInput placeholder="Password" type="password" formControlName="password">
    <mat-error *ngIf="loginForm.controls['password'].invalid">Required</mat-error>
  </mat-form-field>

  <button class="full-width" mat-flat-button color="primary" [disabled]="!loginForm.valid"  type="submit">LogIn</button>
</form>
<p fxFlexAlign="end" class="action-p">Not a member yet? <a routerLink="/student-signup">Create account</a></p>
</div>
